name: Checks
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  check:
    strategy:
      matrix:
        command:
          - nix flake check -L

    uses: ./.github/workflows/nix.yml
    with:
      command: ${{ matrix.command }}

  deploy:
    if: github.ref == 'refs/heads/main'
    needs: check
    uses: ./.github/workflows/deploy.yml
    secrets: inherit
