name: Deploy to GitHub Pages
on:
  workflow_dispatch:
  workflow_call:

jobs:
  build:
    uses: ./.github/workflows/nix.yml
    with:
      command: nix build .#default -L
      upload_path: ./result

  deploy:
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
