name: Nix

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
      upload_path:
        description: "Path to upload as artifact (optional)"
        type: string

jobs:
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_conf: |
            keep-env-derivations = true
            keep-outputs = true

      - name: Restore and save Nix store
        uses: nix-community/cache-nix-action@v6
        with:
          primary-key: nix-${{ runner.os }}
          restore-prefixes-first-match: nix-${{ runner.os }}
          gc-max-store-size-linux: 5G
          purge: true
          purge-prefixes: nix-${{ runner.os }}
          purge-created: 0
          purge-last-accessed: 0
          purge-primary-key: never

      - name: Run command
        run: ${{ inputs.command }}

      - name: Upload artifact
        if: inputs.upload_path != ''
        uses: actions/upload-pages-artifact@v3
        with:
          path: ${{ inputs.upload_path }}
